<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charet="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Gothic+Coding&family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/auth/find_password.css" th:href="@{/css/auth/find_password.css}">

</head>
<body>
<div class="password">
    <h2>비밀번호 관리</h2>
    <form>
        <label>
            <span>아이디</span>
            <input type="text"/>
        </label>

        <label>
            <span>신규 비밀번호</span>
            <input type="password"/>
        </label>

        <label>
            <span>신규 비밀번호 확인</span>
            <input type="password"/>
        </label>


    </form>
    <button type="submit">비밀번호 변경</button>
</div>
</body>
</html>

