
/*@@푸터@@*/
footer {
    min-width: 800px;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-left {
    display: flex;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 40px;
}

.footer-links .p_info {
    color: yellow;
}

.footer-links .p_info:hover {
    color: yellow;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #ddd;
}

.footer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
}

.footer-info p {
    margin: 5px 0;
}