.nanum-myeongjo-regular{
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
}

.nanum-gothic-coding-regular{
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
}


.do-hyeon-regular{
    font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
    font-style: normal;
}

*{
    font-family: "Do Hyeon"
}

.schedule-date-line{
    width: 224px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;

}
.schedule-date-line > input{
    width: 105px;
    height: 30px;
}

.purchase-point{
    width: 224px;
    margin-right: 60px;
    border-radius: 4px;
    height: 40px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

select {
    width: 70px;
    height: 30px;
    border-radius: 4px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #EEEEEE;
}

.schedule {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
}

label{
    display:flex;
}

label > span{
    display:flex;
    justify-content: end;
    width: 110px;
    padding: 0.5rem 1rem 0.5rem 0rem;
    margin-bottom: 1rem;
}
.schedule-margin-design{
    margin-right: 120px;
}
label > input {
    border: 1px solid rgba(0, 0, 0, 0.12);
    width: 210px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color: #EEEDED;
    outline: none;
    border-radius: 4px;
}

input[type=text]:hover{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: 0.1s;
}

textarea:hover{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: 0.1s;
}

button {
    margin: 30px 10px;
    padding: 0.5rem 1.5rem;
    background-color: #FFFFFF;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: 0.1s;
}

.schedule-description{
    display:flex;
    margin-right: 55px;
    margin-bottom: 1rem;
}



.schedule-register-button > span{
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    background-color: #EEEDED;
    margin-left: 20px;
    padding: 10px;
    cursor: pointer;
}
.schedule-register-button > span:hover{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: 0.1s;
}

.schedule-description-line{
    width: 205px;
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    outline:none;
    padding: 10px;
    border-radius: 4px;
    resize: none;
    background-color: #EEEDED;
    margin-right: 65px;
}
label > div:nth-child(3){
    display: flex;
    flex-direction: column;
    justify-content: end;
}

label > div:nth-child(3) > span{
    background-color: #EEEDED;
    width: 50px;
    height: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left: 20px;
}