.nanum-myeongjo-regular{
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
}

.nanum-gothic-coding-regular{
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
}
.do-hyeon-regular{
    font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
    font-style: normal;
}

*{
    font-family: "Do Hyeon"
}
thead{
    background-color : #D9D9D9;
    position: sticky;
    top: 0px;
}

.table-list-head > tr > td{
    padding: 20px 15px;
}

tr > td{
    padding: 15px;
}

table, tr, td{
    border: 0;
    border-bottom : 1px solid #E0E0E0;
    border-collapse : collapse;
}

td:nth-child(10){
    text-align: center;
}

select{
    margin-left: 10px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.table-list-search{
    display:flex;
    padding: 10px;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #EEEEEE;
}

.table-list {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 95vw;
    background-color: white;
}

.table-list-design{
    height: 63vh;
    padding: 0 10px 10px 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.table-list-design::-webkit-scrollbar {
    width: 10px;
}
.table-list-design::-webkit-scrollbar-thumb {
    background-color:rgb(186, 186, 186);
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.table-list-design::-webkit-scrollbar-track {
    background-color:  #ffffff;
    border-radius: 10px;
}
table{
    width: 94vw;
}

input[type=text]{
    margin-right: 1rem;
    width: 45vw;
    padding: 0.7rem;
    background-color: #EEEDED;
    border: 1px solid rgba(0, 0, 0, 0.12);
    outline: none;
    border-radius: 20px;
}

button{
    width: 70px;
    outline:none;
    border: 1px solid rgba(0, 0, 0, 0.12);
    cursor:pointer;
}

.table-list-button-style{
    flex: 1;
    display:flex;
    justify-content: end;
    margin-right: 15px;
}

.table-list-button-delete{
    margin-left: 10px;
    background-color: #FFC0C0;
}

.table-list-footer{
    padding: 20px 10px;
    display:flex;
    justify-content: center;
}
li{
    list-style-type: none;
    margin: 5px;
}
a{
    text-decoration: none;
    color: black;
}